@using pustok.Areas.Admin.ViewModels
@model CategoryVM

<div>
	<h3>@Model.Name</h3>
	<p>@Model.Id</p>
</div>

@foreach (ProductVM Product in Model.Products)
{
	<div>
		<h3>@Product.Author</h3>
		<p>@Product.Details</p>
		<p>@Product.Image</p>
		<p>@Product.Price</p>
		<p>@Product.PriceOld</p>
		<p>@Product.PriceDiscount</p>
		<p>@Product.Photo</p>
	</div>
}

