@using pustok.Models
@using pustok.Models.pustok.Models
@using pustok.ViewModels

@model List<Category>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <!-- Add Button -->
                <a asp-controller="category" asp-action="create" class="btn btn-success mb-3">Add Category</a>

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Actions</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Category category in Model)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>

                                <td><img src="~/assets/image//@category.Image" alt="" style="width:80px; height:80px; object-fit:cover;"></td>

                                <td>
                                    <a asp-action="update" asp-route-id="@category.Id" class="btn btn-secondary">Update</a>
                                    <a asp-action="delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                                    <a asp-action="detail" asp-route-id="@category.Id" class="btn btn-primary">Detail</a>
                                </td>
                            </tr>
                        }




                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->